body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}


.btn {
  margin-right: 10px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.navbar { 
   padding-top: 0.15rem;
   padding-bottom: 0.15rem;
   margin-top: 4px;
   background-color: white;
   border: 1px solid #0e0c0c;
   margin-left: 10px;
   margin-right: 10px;
   border-radius: 15px;
   
   
   }

   .center-me {
    margin: 0 auto;
  }

  .toggle-switch {
    position: relative;
    width: 120px;
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: left;
    border-color:'gray';
    border: 1px solid #D3D3D3;
    border-radius:10px;
    
  }
  .toggle-switch-checkbox {
    display: none;
  }
  .toggle-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #fff;
    border-radius: 10px;
    margin: 0;
  }
  .toggle-switch-inner {
    display: block;
    width: 160%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  .toggle-switch-inner::before, .toggle-switch-inner::after {
    display: block;
    float: left;
    width: 50%;
    height: 34px;
    padding: 0;
    line-height: 34px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
  }
  .toggle-switch-inner:before {
    content: "ON";
    text-transform: uppercase;
    padding-left: 10px;
    background-color: rgb(70, 192, 240);
    color: #fff;
  }
  .toggle-switch-disabled {
    background-color: #fff;
    cursor: not-allowed;
  }
  .toggle-switch-disabled::before {
    background-color: #fff;
    cursor: not-allowed;
  }
  .toggle-switch-inner::after {
    content: "OFF";
    text-transform: uppercase;
    padding-right: 20px;
    background-color: #ccc;
    color: #fff;
    text-align: right;
  }
  .toggle-switch-switch {
    display: none;
    width: 24px;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 0 solid #fff;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }
  .toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
    margin-left: 0;
  }
  .toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
    right: 0px;
  }
